.exchange-route{
  .big-wrapper{
    margin-top 30px
    .main-content{
      margin-top 25px
      padding 30px
    }
    .balance-overview{
      color rgb(152, 161, 178)
      text-align right
      .label{
        font-weight 550
        font-size 20px
        margin-right 10px
      }
      .value{
        color rgb(13, 53, 120);
        font-size 24px
      }
      .separate{
        margin 0 10px
      }
      .label
      .value{
        & > span{
          font-size 16px
          color tikiblue
        }
      }
    }
  }
}