.pool-route{
  .filter-bar{
    padding 15px

  }
  .data-table-wrapper{
    padding 15px
    .amount-label{
      img{
        display inline
        height 25px
      }
    }
    .link-text{
      max-width 180px
      white-space nowrap
      overflow hidden
      cursor pointer
      text-overflow ellipsis
      color tikiblue
      &:hover{
        color darken(tikiblue, 15%)
      }
    }
  }
}
