
.block-route{
  .no-limit{
    overflow visible !important
    text-overflow initial !important
    max-width none !important
  }
  .reward{
    span{
      color #6c757e
      font-size 13px
    }
  }
  .mined-by{
    & > span{
      .name{
        font-weight 550
      }
      &.first-of-type{
        overflow hidden
        max-width 250px
        text-overflow ellipsis
      }
      vertical-align middle
      display inline-block
    }

  }
  .data{
    .txns{
      margin-top 20px
      .txn-info{
        padding 6px 0
        p{
          display inline-block
          vertical-align middle
          &.label{
            color #1a1a1a
            font-weight 550
            width 25px
            margin-left 15px

          }
          &.value{
            width calc(100% - 40px)
            max-width none !important
            overflow hidden
            text-overflow ellipsis
          }
        }
      }
    }
  }
}