.latest-display{
  .ld-header{
    padding 12px
    color #4a4f55
    font-size 15px
    font-weight 550
    border-bottom 1px solid grey
  }
  .ld-body{
    padding-bottom 20px
  }
  .ld-footer{
    padding 12px
  }
  .item{

    border-bottom 1px solid grey

  }
  .empty{
    color #725002
    background-color #f8ebcd
    padding 12px
    font-size 15px
  }
}