.wallet-edit-panel{
  margin-top 50px
  .panel-body{
    padding 20px
    padding-bottom 0
    .tooltip-container{
      &.copied{
        .tooltip-content{
          background-color success !important
        }
      }
    }
    .wallet-detail{
      margin-bottom 20px
      .detail-label{
        margin-bottom 8px
        font-size 16px
        i{
          margin-right 8px
          color tikiblue
        }
      }
      .detail-content{
        margin-top 4px
        font-size 15px
        color #4a4f55
        .balance{
          font-size 30px
          font-weight 550
          span{
            color #6c757e
            font-size 20px
          }
        }
        .hex-contain{
          background-color #e9e9e9
          overflow hidden
          max-width 500px
          white-space nowrap
          text-overflow ellipsis
          position relative
          i{
            position absolute
            top 50%
            transform translateY(-50%)
            right 15px
          }
          border-radius 4px
          padding 6px 15px
          display inline-block
          padding-right 40px
        }
      }
    }
  }
}